
      <div class="form" *ngIf="stuff">
          <h2>{{stuff.name}} details!</h2>
          <div class="form-group">
              <label>Name: </label>
              <input [(ngModel)]="stuff.name" placeholder="Name"/>
          </div>
          <div class="form-group">
              <label>Category: </label>
              <input [(ngModel)]="stuff.category" placeholder="Category"/>
          </div>
          <div class="form-group">
              <label>Date: </label>
              <input [(ngModel)]="stuff.date" placeholder="Date"/>
          </div>
          <div class="form-group">
              <label>Auteur: </label>
              <input [(ngModel)]="stuff.author" placeholder="Auteur"/>
          </div>
          <button (click)="goBack()">Back</button>
          <button (click)="save()">Save</button>
      </div>